/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/
body {
    padding-top: 70px;
    /* Location of the image */
    background-color: white;

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;  
    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}
hr
{
    border-top-color: black !important;
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
        background-color: white;
    }
}
#pageContainer
{
    background-color: #FFFFB2;
    height: 100%;
}
#mainContainer
{
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
p
{
    font-family: 'Quattrocento', serif !important;
}
#errorMessage
{
    color: red;
    font-weight: bold;
}
.bottom-navbar a
{
    text-align: center;
    padding-top: 8px;
}

#loginError
{
    color: red;
}
.google_wrapper{
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    width: 100%
}
.google_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.tableVisibility
{
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.95;
    margin-bottom: 10px;
}
#serviceDesk
{
    padding: 5px;
    background-color: #009688;
    margin: 5px;
    font-size: 18px;
}
.panel-body h2
{
    font-weight: bold;
    text-align: center;
    margin: 0px;
}